<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>

    <main>
        <h1>{{title}}</h1>
        <p class="date">{{date}}</p>
        <p class="author">{{author}}</p>
        <a class="back-home" href="index.html">← Back to all posts</a>

        <hr>
        <article>

            <!-- BLOG CONTENT INSERTED HERE -->
            {{content}}

        </article>
        <hr>

        <footer>
            <ul class="tags-list">
                {{tags}}
            </ul>
        </footer>

    </main>
    <a class="back-home back-home-bottom" href="index.html">← Back to all posts</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</body>

</html>